.topBar{
    text-align: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    height: 80px;
}

.topBar .logos img{
    margin-top: 20px;
}

.headSituation{
    display: flex;
    align-items: center;
    gap: 20px;
    height: 80px;
}

.titleSituation{
    color: rgba(0, 0, 0, 0.232);
}

.toDoList{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 150px;
    margin: 50px 150px 0px 150px;
}